.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.nowrap {
  text-wrap: nowrap;
}
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 10px;
}

.form-button {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .form-button {
    margin-top: 5px;
  }
}
