@import "./_variables.css";
@import "../utils/_helper.css";
@import "../components/_card.css";
@import "../components/_form.css";
@import "../components/_button.css";
@import "../components/_table.css";
@import "../components/_list.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:focus {
  outline: none;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  font-family: inherit;
}

button {
  font-family: inherit;
  border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  body {
    font-size: 0.8125rem;
  }
}
