:root {
  --background-color: #f3f2ee;
  --card-background: #ffffff;
  --input-background: #f9f9f9;
  --input-border: #ddd;
  --text-color: #343747;
  --secondary-text-color: #888888;
  --primary-button-color: #333333;
  --primary-button-hover: #555555;
}
/* color: #343747; */